# Supabase Credentials (Public / Client-side)
VITE_SUPABASE_URL=https://wtehlnkctmtdcstukgpq.supabase.co
VITE_SUPABASE_ANON_KEY=project-gacor-mantap-asfhgdsfuisdfLVDSHJfvhjkdShgvSAfvhgDShjgvdjgvhdFjvhD
